<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Posters</title>

    <style>
        .poster {
            width: 400px;
            height: 600px;
            margin: 20px auto;
            text-align: center;
        }
        .poster img {
            width: 100%;
            height: 100%;
        }
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

    <h1>Top Posters</h1>
    <div>
        {% for poster in posters %}
            <div class="poster">
            <a href="{% url 'poster_details' poster.id %}">
                <img src="{{ poster.url }}" alt="Poster">
            </a>
            </div>
        {% endfor %}
    </div>

</body>
</html>